.header-row {
    background: #ffc409;
    color: #fff;
    font-size: 18px;
  }
  
 

  
  ion-col {
    border: 3px solid #ECEEEF;
  }
  .lgot{
    border: none;
    font-size: 15px;
    padding: 4px;
    
    
  }
  .chng{
    border: none;
    font-size: 15px;
    padding: 4px;
    margin-right:-8px;
  }
  .ion-margin{
    
    
      color: rgb(0, 0, 0);
      font-size: 18px;
  
  }
  