<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card><ion-card-header><ion-card-title>
    <h3  align="center" style="color: #f5821f;  font-size: 20px;"><b> Change Password</b></h3>
    </ion-card-title></ion-card-header> 
   <ion-card-content>
     <form ngNativeValidate #form="ngForm" (ngSubmit)="newpassword(form.value)">

      <ion-item>
        <ion-label position="floating">
          <ion-icon name="lock-closed-sharp"></ion-icon> Old Password
          
        </ion-label>
        <ion-input type="password" name="password" maxlength="12" minlength="6" [(ngModel)]="password" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          <ion-icon name="lock-closed-sharp"></ion-icon> New Password
          
        </ion-label>
        <ion-input type="password" name="password" maxlength="12" minlength="6" [(ngModel)]="password" required></ion-input>
      </ion-item>
       <ion-item>
         <ion-label position="floating"><ion-icon name="lock-closed-sharp"></ion-icon> Confirm Password</ion-label>
         <ion-input type="password" name="password" maxlength="12" minlength="6" [(ngModel)]="password" required></ion-input>
       </ion-item>
      
       <ion-item >
         <ion-button  class="login" type="submit"style="--ion-color-primary:#f5821f;height:68px; width:100%; " expand="block" mode="ios" >Save</ion-button>
         
       </ion-item>
       
     </form>
   </ion-card-content></ion-card>
</ion-content>


<!-- tabs -->
<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/tabs" >
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Complaints" routerLink="/complaint">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Complaints</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="Location" routerLink="/location"><ion-icon name="location"></ion-icon>
    <ion-label>Location</ion-label></ion-tab-button>
  


<ion-tab-button tab="changepassword" routerLink="/changepassword" selected><ion-icon name="lock-closed-outline"></ion-icon>
  <ion-label>Change password</ion-label></ion-tab-button>
</ion-tab-bar>
</ion-tabs> -->
