<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" >
  <ion-text>
    <h1>Welcome To Garbage Management</h1>
    <ion-chip>
      <p> Get started !</p>
    </ion-chip>
  </ion-text>

</ion-content>

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/tabs" selected>
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Complaints" routerLink="/complaint">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Complaints</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="Location" routerLink="/location"><ion-icon name="location"></ion-icon>
    <ion-label>Location</ion-label></ion-tab-button>
  


<ion-tab-button tab="changepassword" routerLink="/changepassword"><ion-icon name="lock-closed-outline"></ion-icon>
  <ion-label>Change password</ion-label></ion-tab-button>
</ion-tab-bar>
</ion-tabs> -->
<!-- >ionic cordova resources -->