ion-content{
padding-bottom: 10%;
padding-left:10%;
padding-right: 10%;
}
.forgot{
    padding-top: 11px;
}
.signup{
    padding-top: 11px;
}
.login{
    padding-top: 20px;
    // border-radius: 2px;
}
// ion-button:hover{}
