ion-content{
    padding-bottom: 10%;
    padding-left:10%;
    padding-right: 10%;
    }
    
    .login{
        padding-top: 20px;
    }
    // ion-button:hover{}
    .passwordIcon{
        font-size:1.6rem !important;
        position: relative !important;
        top: 1px !important;
        align-items: end;
        margin-top: 10px;
     }
    .input:invalid {
      border: red solid 3px;
    }