<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card><ion-card-header><ion-card-title>
    <h3  align="center" style="color: #f5821f;  font-size: 20px;"><b>Change Password</b></h3>
    </ion-card-title></ion-card-header> 
   <ion-card-content>
     <form ngNativeValidate #form="ngForm" (ngSubmit)="newpassword(form.value)">

      <ion-item>
        <ion-label position="floating">
          <ion-icon name="lock-closed-sharp"></ion-icon>Old Password
          
        </ion-label>
        <ion-input [type]="passwordType" type="password" name="password"   title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"required [(ngModel)]="password" maxLength="15" minLength="8" > </ion-input> 

        <div slot="end">
          <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()' ></ion-icon></div>

      </ion-item>

      <ion-item>
        <ion-label position="floating">
          <ion-icon name="lock-closed-sharp"></ion-icon> New Password
          
        </ion-label>
        <ion-input [type]="passwordType" type="password" name="newpass"   title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required [(ngModel)]="newpass" maxLength="15" minLength="8" > </ion-input> 

        
        <!-- pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" -->
      </ion-item>
       <ion-item>
         <ion-label position="floating"><ion-icon name="lock-closed-sharp"></ion-icon> Confirm Password</ion-label>
         <!-- <ion-input type="password" name="password" maxlength="12" minlength="6"></ion-input> -->
         <ion-input [type]="passwordType" type="password" name="cpassword"  title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"required [(ngModel)]="cpassword" maxLength="15" minLength="8" > </ion-input> 

         
       </ion-item>
      
       <ion-item >
         <ion-button  class="login" type="submit"style="--ion-color-primary:#f5821f;height:68px; width:100%; " expand="block" mode="ios" >Update</ion-button>
         
       </ion-item>
       
     </form>
   </ion-card-content></ion-card>
</ion-content>
